$var1: #ffffff;
$var2: #555555;
$var3: #5d5d5d;
$var4: #f2f2f2;
$var5: #000000;
$var6: #aeb002;
$var7: #999999;
$var8: #e4ec04;
$var9: #f3f3f3;
$var10: #f9f9f9;
$var11: #136cb2;
$var12: #dad7d5;
$var13: #49945a;
$var14: #7268ad;
$var15: #c3c3c3;
$var16: #a8aa94;